<!--public/partials/contato.html-->
<h1 class="text-center">Contato</h1>

<h3 class="text-warning" ng-show="mensagem.texto">
    {{mensagem.texto}}
</h3>

<form ng-submit="salva()">
    <div class="form-group">
        <label for="nome">
            Nome
        </label>
        <input type="text" class="form-control" id="nome" 
        name="nome" required ng-model="contato.nome"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control" id="email"
            name="email" placeholder="email@exemplo.com" ng-model="contato.email" required/>
        </div>
    </div>
    <div class="form-group">
        <label for="emergencia">Emergência</label>
        <select class="form-control" id="emergencia"
        name="emergencia" ng-model="contato.emergencia"
        ng-options="contato._id as contato.nome for contato in contatos">
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a id="botao-voltar" href="#!/" 
        meu-focus evento="contatoSalvo" class="btn btn-default">Voltar</a>
    </div>
</form>